*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main_container{
    display: flex;
}
#action_container,
#info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#action_container{
  width: calc(100vw - 500px);
  font-family: sans-serif;

}
#info_container{
   width: 500px;
   background-color: rgba(0, 0, 255, 0.574);
   color: #ffffff;
   height: 100vh;
   font-family: sans-serif;
}
#sub_heading{
    color: blue;
    font-size: 16px;
    font-weight: lighter;
}
#search_input{
    margin-top: 16px;
}
#search_button{
    background-color: rgba(22, 22, 162, 0.693);
    color: #ffffff;
    border: none;
    font-size: 16px;
    width: 60px;
    height: 20px;
    margin: 8px;
    border-radius: 4px;
}
#weather_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px;
    text-align: center;

}
#wind_info{
    /* display: flex; */
    /* flex-direction: column; */
}
